name: Deploy to AWS with Docker Compose

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
         script: |
            # 1. Создаем папку и заходим в нее
            mkdir -p ~/app
            cd ~/app

            # 2. Очищаем старое (чтобы не было путаницы)
            sudo rm -rf *

            # 3. Клонируем свежий код прямо из твоего репозитория
            # Вставь тут свою ссылку на репозиторий вместо моей ниже!
            git clone https://github.com/${{ github.repository }}.git .

            # 4. Запускаем сборку
            sudo docker-compose up --build -d
