name: Deploy Website
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Find and Build
        run: |
          # Этот скрипт сам найдет Dockerfile
          FILE_PATH=$(find . -name Dockerfile | head -n 1)
          CONTEXT_DIR=$(dirname $FILE_PATH)
          echo "Found Dockerfile at $FILE_PATH"
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-web-site:latest -f $FILE_PATH $CONTEXT_DIR
          docker push ${{ secrets.DOCKER_USERNAME }}/my-web-site:latest

      - name: Deploy to AWS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/my-web-site:latest
            sudo docker stop my-web-site || true
            sudo docker rm my-web-site || true
            sudo docker run -d --name my-web-site -p 80:80 -p 443:443 -v /etc/letsencrypt:/etc/letsencrypt ${{ secrets.DOCKER_USERNAME }}/my-web-site:latest
