name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~
            sudo rm -rf app
            git clone https://github.com/Yusif2603/MyDevops.git app
            cd app
            sudo docker-compose down || true
            sudo docker stop my-web-site || true
            sudo docker rm my-web-site || true
            sudo docker-compose up --build -d
